/* || General styles */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Taviraj', Garamond, serif;
}
main {
    flex-grow: 1;
    overflow-y: auto;
}
  
  h1,
  h2,
  h3,
  h4 {
    all: unset;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    text-align: left;
  }
  /*Header-Title*/
  h1 {
    font-family: 'Baskerville Old Face', Garamond, serif;
    text-align: center;
    font-size: 32px;
  }
  /*Normal-Title*/
  h2 {
    font-size: 17px;
  }
  /*Subtitle*/
  h3 {
    color: #888;
    font-size: 15px;
    font-weight: 400;
  }
  /**/
  h4 {
    color: #888;
    font-size: 13px;
    font-weight: 300;
  }
  p {
    all: unset;
    font-size: 17px;
    text-align: left;
  }
  span {

  }
  strong {

  }
  a {
    text-decoration:none;
    color: inherit;
  }
  ul {
  }

/* || Colors */
.black {
    color: black;
}
.grey {
    color: #CCC;
}
.white {
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

/* || Typography */

/* Show More - Stücke & Details */
.showMore {
    margin: 8px;
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
    justify-content: center;
    background: #9747FF;

}
/*Overlay Stücke & Details*/
.overlay {
    position: absolute;
    top: calc(100% + 8px);
    display: none;
    z-index: 9999;
}

.overlay.bubble {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
}

.overlay .bubble::before {
    content: '';
    position: absolute;
    top: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #fff transparent;
}

.overlay .section {
    color: #CCC;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}

.overlay .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.close:hover {
    opacity: 0.8;
}

.overlay .button {
    border-radius: 10px;
    border: 0.5px solid #888;
    background: #fff;
    color: #ccc;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.overlay .checkbox {
    display: none;
}

.overlay .checkbox + .label {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 10px;
    border: 0.5px solid #888;
    background: #fff;
    color: #ccc;
    cursor: pointer;
}

.overlay .checkbox:checked + .label {
    border-color: #9747FF;
    color: #9747FF;
}

.overlay .input {
    border-radius: 10px;
    border: 0.5px solid #888;
    background: #fff;
    color: #000;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 500;
}

.overlay .confirm-button {
    margin-top: 16px;
    width: 100%;
    background: #9747FF;
    align-self: stretch;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    border: none;
    color: #fff;
    border-radius: 20px;
    padding: 8px;
}

.overlay .confirm-button:hover {
    background: #d7b9ff;
    color: #9747FF;
}
/* Card*/

.card {
    margin: 8px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 8px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
}
.card .image {
    border-radius: 20px 5px 5px 20px;
    background-size: cover;
    background-color: #9D8276;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 25%;
    overflow: clip;
    
}
.basic-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.basic-info div {
    display: flex;
    align-items: center;
}
/* chip */
#chip {
    font-size: 11px;
    color: #9747FF;
    border-radius: 20px;
    background: #D7B9FF; 
    margin-left: 8px;
    margin-right: 8px;
    padding: 2px 8px 2px 8px;
    flex-shrink: 0;
}
button {
    background: #9747FF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    border: #9747FF;
    color: #fff;
    border-radius: 20px;
    padding: 8px;
    margin: 4px;
}
button:hover {
    background: #D7B9FF;
    border: #D7B9FF;
    color: #9747FF;
}
/* || Bottom Navigation */
nav {
    background-color: #fff;
    min-height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-top: 8px;
}

footer nav {
    flex-shrink: 0;
    border-radius: 3px;
    border-top: 1px solid #CCC;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25px;
    align-items: center;
}

nav a .icon {
    fill: #CCC;
}

nav a .dot {
    padding: 5px;
}

footer nav a.active svg {
    fill: #9D8276;
}