/* || General styles */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Taviraj', Garamond, serif;
}
main {
    flex-grow: 1;
    overflow-y: auto;
}
  
  h1,
  h2,
  h3,
  h4 {
    all: unset;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    text-align: left;
  }
  /*Header-Title*/
  h1 {
    font-family: 'Baskerville Old Face', Garamond, serif;
    text-align: center;
    font-size: 32px;
  }
  /*Normal-Title*/
  h2 {
    font-size: 17px;
  }
  /*Subtitle*/
  h3 {
    color: #888;
    font-size: 15px;
    font-weight: 400;
  }
  /**/
  h4 {
    color: #888;
    font-size: 13px;
    font-weight: 300;
  }
  p {
    all: unset;
    font-size: 17px;
    text-align: left;
  }
  span {

  }
  strong {

  }
  a {
    text-decoration:none;
    color: inherit;
  }
  a svg {
      vertical-align: middle;
  }
  ul {
  }

/* || Colors */
.black {
    color: black;
}
.grey {
    color: #CCC;
}
.white {
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

/* || Typography */
/* || Header   */
header.standard {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 8px 16px;
    border-bottom: 1px solid #CCC;
}
/* Card*/

.card {
    margin: 8px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 8px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
}
.card .image {
    border-radius: 20px 5px 5px 20px;
    background-size: cover;
    background-color: #9D8276;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 25%;
    overflow: clip;
    
}
.basic-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.basic-info div {
    display: flex;
    align-items: center;
}
/*card for Spielzeiten*/
.card .image .colored-layer {
    width:100%;
    height: 100%;
    background-color: rgba(157, 130, 118, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#day {
    font-size: 32px;
    font-weight: 900;
    line-height: 100%;
}

#month, #time {
    font-size: 17px;
    font-weight: 300;
}
/**/
/* chip */
.seen-state {
    color: #4B6A60;
    background: #Cee5DD;
}

.interested-state {
    color: #9747FF;
    background: #D7B7FF;
}

.not-interested-state {
    color: #B95130;
    background: #FB949D;
}

.unsure-state {
    color: #43473F;
    background: #FFECC7;
}

.miss-out-state {
    color: #755BEC;
    background: #B7BBF7;
}

.none-state {
    color: #5b6056;
    background: #f1f0ed;
}

#chip {
    font-size: 11px;
    border-radius: 20px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 2px 8px 2px 8px;
    flex-shrink: 0;
}
button {
    background: #9747FF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    border: #9747FF;
    color: #fff;
    border-radius: 20px;
    padding: 8px;
    margin: 4px;
    cursor:pointer;

}
button:hover {
    background: #D7B9FF;
    border: #D7B9FF;
    color: #9747FF;
}

.login {
    display: flex;
    flex-direction: column;
}
/* || Input */
input {
    align-self: stretch;
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #888;
    font-size: 14px;
    box-sizing: border-box;
    margin: 8px;
}

input:focus {
    outline: none;
    border-color: #9747ff;
}
label {
    margin: 8px;
}
/* || Bottom Navigation */
nav {
    background-color: #fff;
    min-height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-top: 8px;
}

footer nav {
    flex-shrink: 0;
    border-radius: 3px;
    border-top: 1px solid #CCC;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25px;
    align-items: center;
}

nav a .icon {
    fill: #CCC;
}

nav a .dot {
    padding: 5px;
}

footer nav a.active svg {
    fill: #9D8276;
}
