    {#include base}
        {#title}Log dich ein!{/title}
        {#header}
            <header class="standard">
            <h1>{#insert title}Log dich ein!{/}</h1>
            </header>
        {/header}
        <form class="login" action="j_security_check" method="post">

                <label for="j_username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="j_username" required>

                <label for="j_password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="j_password" required>

                <button type="submit">Login</button>
        </form>
        <button><a href="/mobile/register">Du kannst dich auch registrieren!</a></button>
    {/include}