{#include base}
{#title}Statusupdate{/title}

<form action="mobile/userdata/" method="POST" class="modal-content">
  <h2>Wähle einen Status aus</h2>
  <button class="state-button seen-state">Gesehen</button>
  <button class="state-button interested-state">Interessiert</button>
  <button class="state-button not-interested-state">Nicht interessiert</button>
  <button class="state-button unsure-state">Unsicher</button>
  <button class="state-button miss-out-state">Verpassen</button>
  <button class="state-button none-state">Kein Status</button>
</form>
{/include}